body {
  background-color: #f4f3ed;
  font-weight: 300;
  font-family: "Merriweather", serif; }
.header {
  margin-top: 6rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  max-width: 100%; }
.section-header {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;  }
.page-section {
  border-top: 1px solid #995031;
  padding: 4rem 0;
  margin-bottom: 0; }
.navbar {
  display: none; }
.list-title {
  margin-bottom: 1rem; }
ul {
  list-style: circle inside;
  color: #444; }
.map-container {
    overflow:hidden;
    padding-bottom:75%; /* Assumes 12:9 aspect ratio (600x450)*/
    position:relative;
    height:0;
    margin-bottom: 2rem; }
.map-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; }
img {
  margin-bottom: 2rem;
 }
table {
  margin-bottom: 3rem; }
.question {
  margin-bottom: 1rem;
  font-size: 1.75rem; }
.button.button-primary,
.button.button-primary:hover,
.button.button-primary:focus {
  display: none;
  background-color: #6CAFB5;
  border-color: #fffef7; 
  margin: 2rem 0 5rem 0; }


/* Larger than phone */
@media (min-width: 550px) {
  body {
    background: rgba(244,243,237,1); }
  .header {
    margin-bottom: 3rem;
    max-width: 100%;
    padding-top: 17rem; 
    padding-bottom: 17rem; 
    /* background-color: #6CAFB5; */
    background: rgb(108,175,181);
    border-radius: .65%;
    background: linear-gradient(215deg, rgba(108,175,181,1) 33%, rgba(95,148,153,1) 100%); }
  h1 {
    color: #222;
    text-shadow: 0em .1em .15em #94d6db; }
  .page-section {
    padding: 6rem 0; }
  .button.button-primary,
  .button.button-primary:focus {
    display: inline-block;
    background: #6CAFB5;
    border-color: #444; 
    color: #444;
    margin: 1rem 0 0 0;
    box-shadow: 0.2em 0.2em 0.4em rgba(95,148,153,1); }
  .button.button-primary:hover {
    display: inline-block;
    border-color: #444;
    color: #222;
    text-shadow: 0 0 0.4em rgba(95,148,153,1);
    box-shadow: 0.2em 0.2em 0.4em rgba(95,148,153,1);
    margin: 1rem 0 0 0; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Typography */
  .section-header {
    font-size: 2.25rem; }
  p {
    font-size: 1.7rem; }
  ul {
      margin-bottom: 3rem; }
  .contact-methods {
    margin-bottom: 2em; }
  .office-info {
    margin-top: 2rem; }
  .question {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    letter-spacing: .2rem; }
  /* Navbar */
  .navbar + .page-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #f4f3ed;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #6cafb5;
    font-family: "Raleway", sans-serif; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link:hover {
    color: #995031; }
  .navbar-link.active {
    color: #6cafb5; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(108,175,181);
    background: linear-gradient(90deg, rgba(108,175,181,1) 0%, rgba(244,243,237,1) 25%, rgba(244,243,237,1) 43%, rgba(108,175,181,1) 100%); }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
  }